authentification/app/__pycache__/
authentification/auth/__pycache__/


cart/api/__pycache__/
cart/api/migrations/
cart/cart/__pycache__


orders/api/__pycache__/
orders/api/migrations/
orders/orders/__pycache__/

products/api/__pycache__/
products/products/__pycache__/
products/products/migrations/


